<div class="logo-div">
  <a href="http://www.artezio.com">
    <img src="assets/logo.png" height="50px"/>
  </a>
</div>
<div class="header-wrapper">
  <strong>Course work for D3 level ML Artezio course
    <br/>
    Topic: Text generation by GPT-2</strong>
</div>
