<div class="content-wrapper">
  <div class="row">
    <div class="col-12">
      <label class="form-label">
        Article text
        <textarea class="form-control article-text" [(ngModel)]="articleText"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label class="btn-primary" ngbButtonLabel (click)="generateKeywords()" >
        Generate keywords
      </label>
    </div>
    <div class="col">
      <div class="spinner-border" role="status" *ngIf="generationKeywords">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="form-label">
        Keywords
        <textarea class="form-control keywords" [(ngModel)]="generatedKeywords"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="btn-group btn-group-toggle col-8" ngbRadioGroup name="textSearchAlgorithm" [(ngModel)]="textSearchAlgorithm">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="'top-p'"> Top-p (nucleus) text generation
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="beam-search"> Beam-search text generation
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label class="btn-primary" ngbButtonLabel (click)="generateText()">
        Generate text from keywords
      </label>
    </div>
    <div class="col">
      <div class="spinner-border" role="status" *ngIf="generationText">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="row result-row" *ngIf="(textResult | async)">
    <div class="col-12">
      <ul ngbNav #nav="ngbNav" activeId="0" class="nav-tabs">
        <li *ngFor="let item of (textResult | async)?.texts; let ind = index" [ngbNavItem]="ind">
          <a ngbNavLink>Text#{{ind + 1}}</a>
          <ng-template ngbNavContent>
            <p>{{item}}</p>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>
