.content-wrapper {
  padding: 25px;
}

.row {
  padding-top: 25px;
}

select {
  width: 75px;
}

label.form-label {
  padding-left: 25px;
}

input {
  width: 500px;
}

label.btn-primary {
  margin-left: 25px;
  background-color: rgb(152, 14, 29);
}

.result-wrapper .row {
  padding-left: 25px;
}

.spinner-border {
  margin-left: 50px;
}

label {
  width: 100%;

  textarea.article-text {
    min-height: 250px;
  }

  textarea.keywords {
    min-height: 65px;
  }
}


